*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Help avoid unexpected sizing issues caused by default content-box behavior */
}

* :not(i){
    font-family: "Times New Roman", Times, serif; /* All elements on the page except elements i will be Times New Roman */
}

html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center
}

body{
    background-color: #5ba8fac0;
}

img{
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 350px;
    max-height: 250px;
}

/* ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }

  li {
    display: inline;
    padding: 0px, 10px, 0px, 10px;
  } */
  /* Basic reset and styling for the navigation bar */

nav {
    background-color: rgba(215, 215, 215, 0.78); /* Background color */
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 40px;
    font-size: 15px;
}

ul {
    list-style-type: none; /* Remove default list bullets */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/* Style the links */
a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff;
    font-weight: bold; 
    padding: 40px 20px; 
    transition: background-color 0.3s ease; /* Smooth hover transition */
    border-radius: 5px; /* Add rounded corners */
}

/* Pronunciation button */
i{
    margin-left: -20px;
    margin-right: auto;  
}

/* Change link color on hover */
a:hover {
    background-color: #555; /* Darker background color on hover */
}

/* .bottom-Nav{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: ;
} */
.search-box button:hover{
    background-color: #555; 
    color: #fff; /* White text color on hover */
}
.container{
    background-color: #ffffff;
    width: 90vmin; 
    /* https://www.w3schools.com/cssref/css_units.php */
    position: relative;
    transform: translate(-50%, -20%);
    top: 50%;
    left: 50%;
    margin: 150px 150px 0px 0px;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.5);
}

/* .searchImage{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #5ba8fac0;
    font-size: 18px;
}

.search-box button{
    padding: 10px 0;
    width: 20%;
    background-color: #5ba8fac0;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
}

.result{
    position: relative;
}

.result h3 { 
    font-size: 25px;
    color: #09005b;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.result button{
    background-color: transparent;
    color: #5ba8fac0;
    border: none;
    outline: none;
    font-size: 20px;
}

.details{
    display: flex;
    gap: 10px;
    color: #8da6d9;
    margin: 5px 0 20px 0;
    font-size: 15px;
}

.word-meaning{ 
    color: #575a7b;
}

.word-example{ 
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #5ba8fac0;
    padding-left: 20px;
    margin-top: 30px;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1695917241 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1695917241 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    /* height of footer */
    height: 300px;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1695917241 .shape-fill {
    fill: #D7D7D7;
}

#footer{
    /* margin-top: 0px;
    margin-bottom: 50px; */
    height: -100px;
    position: absolute;
}

#searchImage,
#wordExample {
    display: block;
    display: flex;
    justify-content: left;
}

/* Pronunciation button */
#wordPronunciationBtn{
    display: none;
    margin-left: 50px;
    margin-right: auto;
}


/* Additional styling for the button */
#toggleButton {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}
